.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .error {
    color: red;
  }
}

.board {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 10px;
}
